In [56]:
import numpy as np
import pandas as pd
import nltk
import re
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Tuccc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [62]:
def getTrain(path):
    df = pd.read_csv(path, sep=';', header=None)
    df = df[[3, 4]]
    df.columns = ['text', 'type']
    return df

In [91]:
df_train_positive = getTrain('positive.csv')

df_train_negative = getTrain('negative.csv')

df = pd.concat([df_train_positive, df_train_negative])
df['type'] = list(map(lambda t: 0 if t == -1 else 1, df['type']))

In [64]:
df.head()

                                                text  type
0  @first_timee хоть я и школота, но поверь, у на...     1
1  Да, все-таки он немного похож на него. Но мой ...     1
2  RT @KatiaCheh: Ну ты идиотка) я испугалась за ...     1
3  RT @digger2912: "Кто то в углу сидит и погибае...     1
4  @irina_dyshkant Вот что значит страшилка :D\nН...     1

In [95]:
def cleanText(texts):
    res = []
    stop_words = stopwords.words('russian')
    for t in texts:
        t = t.lower()
        t = re.sub(r'(http://)[a-zA-Z0-9_./]+', '', t)
        t = re.sub(r'[,!.\n)(":(:D|:d)*&?#;a-zA-Z/%=@_^#$=]', '', re.sub(r'(rt)*\s*@\s*[a-zA-Z0-9_]*(\s|:)+', '', t))
        t = re.sub(r'((\s-\s)|(-\s)|(\s-))', '', t)
        tokens = word_tokenize(t)
        clean_tokens = [word for word in tokens if word not in stop_words]
        string = ' '.join([str(elem) for elem in clean_tokens])
        res.append(string)
        #res.append(t)
    return res

In [96]:
#Очистить от ненужных слов (латиница, символы)

df['text'] = cleanText(df['text'])
df

                                                     text  type
0       школота поверь самое общество профилирующий пр...     1
1                    все-таки немного похож мальчик равно     1
2                                      идиотка испугалась     1
3       углу сидит погибает голода ещё 2 порции взяли ...     1
4       значит страшилка блинпосмотрев частиу создастс...     1
...                                                   ...   ...
111918                            каждый хочет исправлять     0
111919       скучаю тактольковправляет мозги равно скучаю     0
111920                               школу говно это идти     0
111921                              тауриэль грусти обнял     0
111922  такси везет работу раздумываю приплатить втащи...     0

[226834 rows x 2 columns]

111918    смешно когда из-за меня у людей бугурт на ровн...
111918                но не каждый хочет что то исправлять
Name: text, dtype: object